@font-face {
  font-family: Lansdowne;
  src: url(lansdowne/Lansdowne\ DEMO.otf);
}

body {
    background: #F5D491;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
#page-wrap { 
  position: relative; 
  max-width: 1100px;
  margin-left: 120px;
  margin-right: 20px;
}
.header {
    position: relative; 
    background-color: #C1666B;
    text-align: center;
    color: black;  
    font-size: 50px; 
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Lansdowne;
  }

#mySidenav a {
  position: fixed;
  left: -130px;
  transition: 0.3s;
  padding: 15px;
  padding-right: 50px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  text-align: right;
}
#mySidenav a:hover {
  left: -20px;
  background-color: #C1666B;
  padding-right: 15px;
}




#about {
  top: 80px;
  background-color: #32021F;
}


#projects {
  top: 140px;
  background-color: #32021F;
}

#hdx {
  top: 200px;
  background-color: #32021F;
}

#aboutUs {
  top: 260px;
  background-color: #32021F;
}

#ekstra {
    top: 320px;
    background-color: #32021F;
}

.border1, .border1-5 {
  display: flex;
  justify-content: center;
    background-color: #41463D;
    width: 100%;
    border: solid 5px #32021F;
    padding: 10px;
    margin-top: 30px; 
    margin-bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
}

.border1-5 {
    margin-top: 80px;
}

.border2 {
  /*display: flex;
  justify-content: center;*/
  background-color: white;
  width: 100%;
  border: solid 5px #32021F;
  padding: 10px;
  margin-top: 30px; 
  margin-bottom: 10px;
  left: 10px; 
  right: 10px;
  font: Areal;
  color: #41463D;
}

.border3 {
  /*display: flex;
  justify-content: center;*/
  background-color: #F5D491;
  width: 100%;
  border: solid 1px white;
  padding: 10px;
  margin-top: 30px; 
  margin-bottom: 10px;
  left: 10px; 
  right: 10px;
  font: Areal;
  color: #41463D;
  font: 400 25px/1.5 'Pacifico', Helvetica, sans-serif;
  position: center;
}

.fas fa-sim-card {
  font-size: 50px;
  color: white;
}

.bilderad {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
    1padding-right: 20px;
  }

.bilde {
    1margin: 20px;
}

.bilde-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.bildetekst1, .bildetekst2 {
  background-color: white;
  width: 40%;
  border: solid 5px #32021F;
  padding: 10px;
  margin-top: 30px; 
  margin-bottom: 10px;
  left: 10px; 
  right: 10px;
  color: #41463D;
}

.bildetekst2 {
  margin-left: 30px;
}

.table {
  border-collapse: seperate;
  border-spacing: 2px;
}

.body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

.liste {
  float: right;
  font-size: 25px;
  width: 400px;
  margin-left: 20px;
}
